<ul class="image-gallery">
	{% if include.files %}
		{% assign file_list = include.files %}
	{% elsif include.folder %}
		{% assign file_list = '' | split: ',' %}
		{% for file in site.static_files %}
			{% if file.path contains include.folder %}
				{% if file.extname == '.png' %}
					{% assign file_list = file_list | push: file.path %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}

	{% for file in file_list %}
		{% assign filenameparts = file | split: "/" %}
		{% assign filename = filenameparts | last | replace: ".png","" %}
		<li>
			<a href="{{ site.url | append: file }}" title="{{ filename }}">
				<img
					src="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ file }}&w=400&h=300&output=jpg&q=50"
					alt="{{ filename }}" title="{{ filename }}" />
			</a>
		</li>
	{% endfor %}
</ul>